/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top-container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 104px;
  position: fixed;
  bottom: -59px;
  z-index: 99999;
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #0563bb;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  transition: all 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.back-to-top-icon {
  font-size: 28px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: #0678e3;
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 768px) {
  .back-to-top-container{
    justify-content: center !important;
  }
  .back-to-top{
    right: 0px;
    bottom: 15px;
    position: relative !important;
  }
}